@font-face {
    font-family: "Noto Sans Armenian";
    src: url("fonts/NotoSansArmenian-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Hebrew";
    src: url("fonts/NotoSansHebrew-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Arabic";
    src: url("fonts/NotoSansArabic-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Devanagari";
    src: url("fonts/NotoSansDevanagari-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Thai";
    src: url("fonts/NotoSansThai-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Georgian";
    src: url("fonts/NotoSansGeorgian-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Cherokee";
    src: url("fonts/NotoSansCherokee-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans CJK HK";
    src: url("fonts/NotoSansCJKhk-Regular.otf");
    font-display: swap;
}
:root {
    --sans: "Noto Sans", "Noto Sans Armenian", "Noto Sans Hebrew", "Noto Sans Arabic", "Noto Sans Devanagari", "Noto Sans Thai", "Noto Sans Georgian", "Noto Sans Cherokee", "Noto Sans CJK HK", ui-sans-serif, sans-serif;
}