@font-face {
    font-family: "Noto Rashi Hebrew";
    src: url("fonts/NotoRashiHebrew-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Kufi Arabic";
    src: url("fonts/NotoKufiArabic-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans CJK HK";
    src: url("fonts/NotoSansCJKhk-Regular.otf");
    font-display: swap;
}
:root {
    --sans: "Noto Sans", "Noto Rashi Hebrew", "Noto Kufi Arabic", "Noto Sans CJK HK", ui-sans-serif, sans-serif;
}