@font-face {
    font-family: "Noto Sans Armenian";
    src: url("fonts/NotoSansArmenian-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Rashi Hebrew";
    src: url("fonts/NotoRashiHebrew-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Kufi Arabic";
    src: url("fonts/NotoKufiArabic-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Devanagari";
    src: url("fonts/NotoSansDevanagari-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Thai";
    src: url("fonts/NotoSansThai-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans CJK HK";
    src: url("fonts/NotoSansCJKhk-Regular.otf");
    font-display: swap;
}
:root {
    --sans: "Noto Sans", "Noto Sans Armenian", "Noto Rashi Hebrew", "Noto Kufi Arabic", "Noto Sans Devanagari", "Noto Sans Thai", "Noto Sans CJK HK", ui-sans-serif, sans-serif;
}