:root {
    font-family: var(--sans);
}
html.pickle {
    background-color: #dfd;
}
html.pickle header {
    background-color: green;
}
input[type="text"] {
    width: 300px;
}
.entry {
    background-color: #0001;
    padding: 0.5em 1.25em;
    margin-bottom: 0.5em;
}
.entry p {
    margin-block: 6px;
}
.Entity, .Junction, .Direction, .State, .Quality, .Relation {
    /* background-color: purple; */
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    position: relative;
    bottom: 1px;
    display: inline-block;
}
.Entity {
    background-color: #677200;
}
.Junction {
    background-color: #a35900;
}
.Direction {
    background-color: #db0000;
}
.State {
    background-color: purple;
}
.Quality {
    background-color: blue;
}
.Relation {
    background-color: #007e00;
}
.notes, .sem, .etym {
    font-size: 14px;
}
.more {
    color: #000c;
}
.h {
    color: black;
}
.entry a {
    text-decoration: none;
}
html.pickle a {
    color: green;
}
/* dark mode */
@media (prefers-color-scheme: dark) {
    html.pickle {
        background-color: #020;
    }
    .entry {
        background-color: #fff2;
    }
    .more {
        color: #fffb;
    }
    .h {
        color: white;
    }
    html.pickle a {
        color: lightgreen;
    }    
}
