html.pickle {
    background-color: #dfd;
}
html.pickle header {
    background-color: green;
}
input[type="text"] {
    width: 300px;
}
/* dark mode */
@media (prefers-color-scheme: dark) {
    html.pickle {
        background-color: #020;
    }
}
